body{
    background-color: #393E46;
    font-family: cursive;
}
.main-container{
    text-align: center;
}
.dice{
    display: inline-block;
}
h1{
    margin: 30px;
    font-size: 8rem;
    color: #4ECCA3;
}
p{
    font-size: 2rem;
    color: #4ECCA3;

}
img{
    width: 80%;
}